<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Language" content="en-us" />
  <title>Hash Check</title>
  <link rel="stylesheet" href="css/form.css" />
</head>

<body>
  <div id="header">
    <div id="pageheader">
      <img src="logo.png" alt="Appreciate Logo" />
    </div>
  </div>
  <div>
    <p id="pleaseWait" style="display: none" class="text">Generating hash...</p>
    <p id="p" class="label">Enter text to hash</p>
    <input id="input" name="hash" class="textinput"></input>
    <button id="getHash" type="button" class="submit-button">Get Hash</button>
    <p id="result-p" class="label">Hashed output</p>
    <input id="result" class="textinput"></input>
    <button id="copy" class="submit-button">Copy Hash</button>
    <p id="copyConfirmed" style="display: none" class="text">Hash Copied to Clipboard</p>
  </div>
    <script src="javascript/bundle.js"></script>
</body>
</html>